extends ../layouts/main.pug

block content
    body.container-ie.fade-in
        include ../partials/loading
        main.result-page
            .result-top.wrapper-top
                .result.char_result 
                    .result-text-white 나랑 가장 잘 맞는 격투기 종목은
                    .result-title.animate__animated.animate__pulse 우슈
                    .result-sub-title.animate__animated.animate__pulse ESFP
                    img.result-img(src='/public/project/mbti/images/wushu.jpg')
                    .result-subtitle
                        .icon-quote
                            i.fas.fa-quote-left.icon-left
                            i.fas.fa-quote-right.icon-right
                        | 화려한 공작새
                        br
                        | "강력함보단, 화려함을 추구한다"
                        .icon-right
            .result-middle
                .result-rank
                    | 전체 참여자 
                    .total-number.result-rank-ment #{totalNumber}
                    | 명 중
                    br
                    |나와 같은 격투가 유형은
                    br
                    label.percentage #{(sameNumber/totalNumber*100).toFixed(2)}%
                    | 입니다.
                .result-explannation.result-text-left.wrapper-explanation
                    li
                        i.fas.fa-fist-raised 
                        | 몸을 크게 뻗으면서 신속하게 움직이는 무술입니다.
                    li
                        i.fas.fa-fist-raised 
                        | 누군과 싸워서 이기는 것보다는, 혼자서 예술적인 아름다움을 추구하는 무술입니다.
                    .folder
                        button.folder-button
                            i.fas.fa-arrow-down
                            | 설명 더 보기
                    .folder-content
                        li
                            i.fas.fa-fist-raised 
                            | 다이내믹하고 아름다운 기술이 많습니다. 
                        li
                            i.fas.fa-fist-raised 
                            | 부드럽고 느긋하며 매끄러운 움직임을 추구하기 때문에 신체의 리듬을 타는 것이 매우 중요합니다. 
                        li
                            i.fas.fa-fist-raised 
                            | 유엽도라 불리는 화려하고 가벼운 낭창낭창 잘 휘어지는 도를 사용하여 화려운 기술을 보여주기도 합니다.
                        li
                            i.fas.fa-fist-raised 
                            | 순간의 감정에 충실하며 절대 매력을 지닌 당신에게 우슈가 가장 잘 어울립니다. 우슈를 통해 당신의 천부적인 스타성 기질을 즐겨보세요. 어딜가나 스포트라이트가 쏟아질 것입니다!
                        li
                            i.fas.fa-fist-raised 
                            | 유명인: 우빈, 제트 리, 도니 엔, 우징, 레이 파크, 스티브 콜먼, 존 푸, 옥수, 이하성
                    .folder-footer
                        button.folder-button-down
                            i.fas.fa-arrow-up
                            | 접기
            .result-bottom.partner-wrapper.wrapper
                a.best-partner(href='/mbti/result/ISFJ')
                    .result-text-black-best  최고의 파트너
                    .result-char-wrapper
                        .result-title-black 합기도
                        br
                        img.result-partner-img(src='/public/project/mbti/images/hapkido.jpg')
                a.worst-partner(href='/mbti/result/ENTJ')
                    .result-text-black-worst  최악의 파트너
                    .result-char-wrapper
                        .result-title-black 크라브마가
                        br
                        img.result-partner-img(src='/public/project/mbti/images/kravmaga.jpg')
            include ../partials/share
            include ../partials/footer-result