extends ../layouts/main.pug

block content
    body.container-ie.fade-in
        include ../partials/loading
        main.result-page
            .result-top.wrapper-top
                .result.char_result 
                    .result-text-white 나랑 가장 잘 맞는 격투기 종목은
                    .result-title.animate__animated.animate__pulse 양궁
                    .result-sub-title.animate__animated.animate__pulse INTJ
                    img.result-img(src='/public/project/mbti/images/archery.jpg')
                    .result-subtitle
                        .icon-quote
                            i.fas.fa-quote-left.icon-left
                            i.fas.fa-quote-right.icon-right
                        | 바람은
                        br 
                        | 나에게만 부는 것이 아니다.
                        br
                        | 나만 집중하면 된다.
                        .icon-right
            .result-middle
                .result-rank
                    | 전체 참여자 
                    .total-number.result-rank-ment #{totalNumber}
                    | 명 중
                    br
                    |나와 같은 격투가 유형은 
                    br
                    label.percentage #{(sameNumber/totalNumber*100).toFixed(2)}%
                    | 입니다.
                .result-explannation.result-text-left.wrapper-explanation
                    li
                        i.fas.fa-fist-raised 
                        | 전쟁에서 모든 나라가 원거리 공격 무기로 사용하던 궁술을 스포츠한 종목입니다. 
                    li
                        i.fas.fa-fist-raised 
                        | 단일 대상 목표로 하며, 짧은 시간안에 엄청난 집중력을 요구합니다.
                    .folder
                        button.folder-button
                            i.fas.fa-arrow-down
                            | 설명 더 보기
                    .folder-content
                        li
                            i.fas.fa-fist-raised 
                            | 컨디셔닝의 중요도가 낮기 때문에, 다른 종목보다 신체조건이 중요하진 않지만, 그만큼 우월한 정신력과 섬세한 컨트롤이 뒷받침되어야 합니다.
                        li
                            i.fas.fa-fist-raised 
                            | 비록 양궁이 격투기 종목은 아니지만, 전략적 사고에 능한 당신은 좋은 도구를 놔두고 맨몸을 사용하는 어리석은 행동을 도저히 못견뎌해합니다.
                        li
                            i.fas.fa-fist-raised 
                            | 놀랄 만큼 호기심이 많으며 쓸데없는데 에너지를 낭비하지 않는 당신에게 양궁이 가장 잘 어울립니다.
                        li
                            i.fas.fa-fist-raised 
                            | 유명인: 기보배, 구본찬, 김수녕, 박경모, 박성현, 윤미진, 이승윤, 장혜진, 최미선, 최현주, 애쉬(롤), 로빈 후드
                    .folder-footer
                        button.folder-button-down
                            i.fas.fa-arrow-up
                            | 접기
            .result-bottom.partner-wrapper.wrapper
                a.best-partner(href='/mbti/result/ENTJ')
                    .result-text-black-best  최고의 파트너
                    .result-char-wrapper
                        .result-title-black 주짓수
                        br
                        img.result-partner-img(src='/public/project/mbti/images/jiujitsu.jpg')
                a.worst-partner(href='/mbti/result/ISFP')
                    .result-text-black-worst  최악의 파트너
                    .result-char-wrapper
                        .result-title-black 검도
                        br
                        img.result-partner-img(src='/public/project/mbti/images/kendo.jpg')
            include ../partials/share
            include ../partials/footer-result