extends ../layouts/main.pug

block content
    body.container-ie.fade-in
        include ../partials/loading
        main.result-page
            .result-top.wrapper-top
                .result.char_result 
                    .result-text-white 나랑 가장 잘 맞는 격투기 종목은
                    .result-title.animate__animated.animate__pulse 복싱
                    .result-sub-title.animate__animated.animate__pulse ISTP
                    img.result-img(src='/public/project/mbti/images/boxing.jpg')
                    .result-subtitle
                        .icon-quote
                            i.fas.fa-quote-left.icon-left
                            i.fas.fa-quote-right.icon-right
                        | 누구나 
                        br
                        | 그럴싸한 계획을 갖고 있다.
                        br 
                        | 처 맞기 전까지는
                        .icon-right
            .result-middle
                .result-rank
                    | 전체 참여자 
                    .total-number.result-rank-ment #{totalNumber}
                    | 명 중
                    br
                    |나와 같은 격투가 유형은
                    br
                    label.percentage #{(sameNumber/totalNumber*100).toFixed(2)}%
                    | 입니다.
                .result-explannation.result-text-left.wrapper-explanation
                    li
                        i.fas.fa-fist-raised 
                        | 주먹을 사용하는 격투기 중 최고의 자리를 지키고 있습니다.
                    li
                        i.fas.fa-fist-raised 
                        | 극도의 민첩성이 요구되기 때문에, 맨손격투기 중 일대다수에 가장 최적화되어 있습니다.
                    .folder
                        button.folder-button
                            i.fas.fa-arrow-down
                            | 설명 더 보기
                    .folder-content
                        li
                            i.fas.fa-fist-raised 
                            | 모든 무술 중 가장 직관적이고 빠른 공격 방식을 극한까지 단련한 상태로 사용하기 때문에 높은 평가를 받고 있습니다.
                        li
                            i.fas.fa-fist-raised 
                            | 종합격투기계에서도 복싱은 모든 파이터들의 필수 과목일 정도로, 권투가 다른 격투기에 미친 영향은 매우 큽니다. 
                        li
                            i.fas.fa-fist-raised 
                            | 하지만 골고루 퍼지는 다른 타격기와 달리 대부분의 공격이 머리로 집중되는 탓에 이러한 부상위험과 사례가 많은 편입니다.
                        li
                            i.fas.fa-fist-raised 
                            | 냉철하면서도 만능 재주꾼인 당신에게 복싱이 가장 잘 어울립니다. 
                        li
                            i.fas.fa-fist-raised 
                            | 유명인: 무하마드 알리, 플로이드 메이웨더, 마이크 타이슨, 로이 존스 주니어, 매니 파퀴아오, 카넬로 알바레스, 타이슨 퓨리, 에롤 스펜스, 게나디 골로프킨
                    .folder-footer
                        button.folder-button-down
                            i.fas.fa-arrow-up
                            | 접기
            .result-bottom.partner-wrapper.wrapper
                a.best-partner(href='/mbti/result/ESTJ')
                    .result-text-black-best  최고의 파트너
                    .result-char-wrapper
                        .result-title-black 레슬링
                        br
                        img.result-partner-img(src='/public/project/mbti/images/wrestling.jpg')
                a.worst-partner(href='/mbti/result/INFJ')
                    .result-text-black-worst  최악의 파트너
                    .result-char-wrapper
                        .result-title-black 아이키도
                        br
                        img.result-partner-img(src='/public/project/mbti/images/aikido.jpg')
            include ../partials/share
            include ../partials/footer-result