extends ../layouts/main.pug

block content
    body.container-ie.fade-in
        include ../partials/loading
        main.result-page
            .result-top.wrapper-top
                .result.char_result 
                    .result-text-white 나랑 가장 잘 맞는 격투기 종목은
                    .result-title.animate__animated.animate__pulse 크라브마가
                    .result-sub-title.animate__animated.animate__pulse ENTJ
                    img.result-img(src='/public/project/mbti/images/kravmaga.jpg')
                .result-subtitle
                    .icon-quote
                        i.fas.fa-quote-left.icon-left
                        i.fas.fa-quote-right.icon-right
                    | 전 세계 특수부대가 인정한
                    br
                    | 실전 최강무술
                    .icon-right    
            .result-middle
                .result-rank
                        | 전체 참여자 
                        .total-number.result-rank-ment #{totalNumber}
                        | 명 중
                        br
                        |나와 같은 격투가 유형은
                        br
                        label.percentage #{(sameNumber/totalNumber*100).toFixed(2)}%
                        | 입니다.
                .result-explannation.result-text-left.wrapper-explanation
                    li
                        i.fas.fa-fist-raised 
                        | 군용 격투기로 사용됩니다. 무자비하게 실용적입니다.
                    li
                        i.fas.fa-fist-raised 
                        | 생존과 살상이 목적입니다. 눈, 코, 목, 사타구니 등 엄청난 고통을 주는 곳에 집중하며, 죽을 수 있는 급소들을 노립니다. 이들은 로우불로나 뼈를 부수는 건 식은 죽 먹기 입니다.
                    .folder
                        button.folder-button
                            i.fas.fa-arrow-down
                            | 설명 더 보기
                    .folder-content
                        li
                            i.fas.fa-fist-raised 
                            | 무기를 든 상대에게 대적할 수 있는 가장 효과적인 무술입니다.
                        li
                            i.fas.fa-fist-raised 
                            | 일대다 상황, 소위 다굴당하는 상황에서 전세를 뒤집는 것이 주된 목적입니다.
                        li
                            i.fas.fa-fist-raised 
                            | 오랜 시간을 요하는 심오함 따위는 집어치우고, 최대한 빨리 익혀서 효과적으로 써먹을 수 있는 단순 명료함을 추구합니다.
                        li
                            i.fas.fa-fist-raised 
                            | 전략적인 사고와 빠른 판단력, 민첩성과 정확성으로 무장한 당신은 크라브마가가 가장 잘 어울리며, 그 누구도 감히 도전장을 내밀지 못할 것입니다.
                        li
                            i.fas.fa-fist-raised 
                            | 유명인: 이미 리치텐필드, 이스라엘 군경찰, 리암 니슨(테이큰) 원빈(아저씨), 김명화
                    .folder-footer
                        button.folder-button-down
                            i.fas.fa-arrow-up
                            | 접기
            .result-bottom.partner-wrapper.wrapper
                a.best-partner(href='/mbti/result/INTP')
                    .result-text-black-best  최고의 파트너
                    .result-char-wrapper
                        .result-title-black 펜싱
                        br
                        img.result-partner-img(src='/public/project/mbti/images/fencing.jpg')
                a.worst-partner(href='/mbti/result/ESFP')
                    .result-text-black-worst  최악의 파트너
                    .result-char-wrapper
                        .result-title-black 우슈
                        br
                        img.result-partner-img(src='/public/project/mbti/images/wushu.jpg')
            include ../partials/share
            include ../partials/footer-result