button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

li {
  list-style-type: none;
  padding-bottom: 15px;
}

i {
  padding: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.noselect {
  user-select: none;
}

.adsense-box {
  width: 200px;
  height: 200px;
}

