@charset "UTF-8";

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansKR-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-SemiBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansKR-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-4Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-5Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

button {
  font-family: "IBMPlexSansKR-SemiBold";
}

.container {
  font-family: "IBMPlexSansKR-Regular";
}

.bold {
  font-family: "IBMPlexSansKR-SemiBold";
}

.start_title {
  font-family: "IBMPlexSansKR-SemiBold";
}

#btn_start {
  font-family: "IBMPlexSansKR-SemiBold";
}

.question_title {
  font-family: "IBMPlexSansKR-SemiBoldn";
}

.result_title {
  font-family: "IBMPlexSansKR-SemiBold";
}

.rank label {
  font-family: "IBMPlexSansKR-SemiBold";
}

#par {
  font-family: "IBMPlexSansKR-Bold";
}

#perc {
  font-family: "IBMPlexSansKR-Bold";
}

#wait_num {
  font-family: "IBMPlexSansKR-SemiBold";
}

#now {
  font-family: "IBMPlexSansKR-SemiBold";
}

#after {
  font-family: "IBMPlexSansKR-SemiBold";
}

#after_explain {
  font-family: "IBMPlexSansKR-Bold";
}

#num_is {
  font-family: "IBMPlexSansKR-SemiBold";
}

#rank_ment1 {
  font-family: "IBMPlexSansKR-SemiBold";
}
