@media (max-width: 426px) {
  html,
  body {
    height: 100%;
    width: 100%;
  }
  html {
    overflow-y: scroll;
  }
  body {
    overflow-y: auto;
  }
}

@media (min-width: 427px) {
  body {
    width: 426px !important;
    height: 625px;
    width: 90%;
    padding: 0 !important;
  }
  html {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-flexbox;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container {
    margin-left: 0px !important;
  }
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 15px 0px;
}

.footer-result {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 15px 0px;
}
.container {
  width: 90%;
  padding: 0 !important;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  -ms-grid-column-align: center;
  -ms-flex-align: center;
}

.container-ie {
  width: 100%;
  padding: 0 !important;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  -ms-grid-column-align: center;
  -ms-flex-align: center;
}

.wrapper {
  text-align: center;
  padding: 20px 0px;
  width: 100%;
}

.wrapper-top {
  text-align: center;
  padding: 40px 0px 10px 0px;
  width: 100%;
}

.wrapper-explaination {
  text-align: center;
  padding: 20px 0px;
  width: 100%;
}

.wrapper-loading {
  text-align: center;
  padding: 20px 0px;
  margin: 0px 0px 200px 0px;
  width: 100%;
}

.partner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
}

.wrapper-progress {
  position: absolute;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 50px;
}

.wrapper-question {
  text-align: center;
  padding: 20px 0px 00px 0px;
  width: 100%;
}

.result-page {
  display: none;
}

.loading-page {
  display: none;
}
