.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li {
  list-style-type: none;
  padding-bottom: 15px;
}

i {
  padding: 5px;
}

.removeAlign {
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
}

.adsense-box {
  width: 200px;
  height: 200px;
}
