body {
  margin: 0;
  font-size: 14px;
}

.footer {
  position: absolute;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0px;
}

.removeAlign {
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
}

.half_HL {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(50%, #ffe400),
    color-stop(50%, transparent)
  );
  background: linear-gradient(to top, #ffe400 50%, transparent 50%);
}
