extends layouts/main.pug

block content
    body.container.fade-in--quick
        main.start-page 
            img.start-img(src='../static/images/kick.jpg')
            .start.title.wrapper
                .start-title 
                    | 나와 가장
                    br 
                    | 잘 어울리는
                .space
                .start-title-effect
                    | 격투기
                .start-title-space
                    | 종목은?
            button.start-btn 시작하기 
    include ./partials/footer
