extends layouts/main.pug

block content
    body.container.fade-in--quick
        main.start-page
            img.start-img(src='../static/images/kick.jpg')
            .start-title
                label 나와 가장
                br 
                label 잘 어울리는
                br
                label 격투기 종목은?
            button.start-btn 시작하기   
