extends layouts/main.pug

block content
    body.container.fade-in--quick
        main.question-page
            .wrapper-progress
                .progress(style='height: 8px').progress-bootstrap
                    .progress-bar(role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100' style='width: 0%')
                .progress-ground
                .progress-page-num
            .wrapper-question
                .question-title
                .question-btn.noselect
                    button#A.btn-fade
                    button#B.btn-fade
    include ./partials/footer