extends layouts/main.pug

block content
    body.container.fade-in--quick
        main.question-page
            .progress-wrapper
                img.progress-moving(src='../static/images/running.gif')
                img.progress-arrived(src='../static/images/heart.png')
                .progress-ground
                .progress-page-num
            .question-wrapper
                .question-title
                .question-btn
                    button#A.btn-fade
                    button#B.btn-fade
        main.loading-page
            div 전투력 측정 중..
                .donutSpinner