extends layouts/main.pug

block content
    body.container-ie.fade-in
        main.loading-page.wrapper-loading
            .circ
                .hands
                .body
                .head1
                    .eye
            .loading-title 전투력 측정중..
        main.result-page
            .result-top.wrapper-top
                .result.char_result 
                    .result-text-white 나랑 가장 잘 맞는 격투기 종목은
                    .result-title.animate__animated.animate__pulse 태극권
                    img.result-img(src='../static/images/taichi.jpg')
                    .result-subtitle
                        .icon-quote
                            i.fas.fa-quote-left.icon-left
                            i.fas.fa-quote-right.icon-right
                        | 부드러움은 강함을 이기지요.
                        .icon-right 
            .result-middle
                .result-rank
                        | 전체 참여자 
                        .total-number.result-rank-ment #{totalNumber}
                        | 명 중
                        br
                        |나와 같은 격투가 유형은
                        br
                        label.percentage #{(sameNumber/totalNumber*100).toFixed(2)}%    
                        | 입니다.
                .result-explannation.result-text-left.wrapper-explanation
                    li
                        i.fas.fa-fist-raised
                        | 세계에서 가장 많은 수련생을 보유하고 있는 무술입니다.
                    li
                        i.fas.fa-fist-raised 
                        | 겉으론 부드러워 보이지만, 내면은 아주 단단한 '겉촉속바'같은 당신에게는 태극권이 가장 잘 어울립니다. 
                    .folder
                        button.folder-button
                            i.fas.fa-arrow-down
                            | 설명 더 보기
                    .folder-content
                        li
                            i.fas.fa-fist-raised 
                            | 상대와 나를 연결하여 그 힘에 맞춥니다. 그리고 그 느낌대로, 나를 변화시키면서 상대를 압도합니다.
                        li
                            i.fas.fa-fist-raised 
                            | 상대에게 파고들어 공격과 방어하는 상황이 많습니다. 따라서 상대에게 밀착하는 능력이 가장 중요합니다.
                        li
                            i.fas.fa-fist-raised 
                            | 태극권의 신비주의적인 이미지 때문에 사기꾼들이 굉장히 많으니 조심하세요.
                        li
                            i.fas.fa-fist-raised 
                            | 유명인: 무우양, 양노선, 이연걸(태극장삼풍), 박해일(경주), 김하온(타이치 메디테이션)
                    .folder-footer
                        button.folder-button-down
                            i.fas.fa-arrow-up
                            | 접기
            .result-bottom.partner-wrapper.wrapper
                a.best-partner(href='/result/baguazhang')
                    .result-text-black-best  최고의 파트너
                    .result-char-wrapper
                        .result-title-black 팔괘장
                        br
                        img.result-partner-img(src='../static/images/baguazhang.jpg')
                a.worst-partner(href='/result/mma')
                    .result-text-black-worst  최악의 파트너
                    .result-char-wrapper
                        .result-title-black 종합격투기
                        br
                        img.result-partner-img(src='../static/images/mma.jpg')
            include ./partials/share
            include ./partials/footer-result