extends layouts/main.pug

block content
    body.container.fade-in
        main.result-page
            .result-top.wrapper-top
                .result.char_result 
                    .result-text-white 나랑 가장 잘 맞는 격투기 종목은
                    .result-title.animate__animated.animate__pulse 카포에라
                    img.result-img(src='../static/images/capoeira.jpg')
                    .result-rank
                        | 전체 참여자 
                        .total-number.result-rank-ment #{totalNumber}
                        | 명 중
                        br
                        |나와 같은 격투가 유형은 
                        br
                        label.percentage #{(sameNumber/totalNumber*100).toFixed(2)}%
                        | 입니다.
            .result-middle
                .result-subtitle
                    .icon-quote
                        i.fas.fa-quote-left.icon-left
                        i.fas.fa-quote-right.icon-right
                    | 살짝 미치면,
                    br
                    | 인생은 즐거워진다.
                    .icon-right
                        
                .result-explannation.result-text-left.wrapper-explanation
                    li
                        i.fas.fa-fist-raised 
                        | 역동성과 파괴성으로 무장한 브라질 전통 무술입니다.
                    li
                        i.fas.fa-fist-raised 
                        | 회전과 덤블링을 이용한 화려한 동작을 보여주는 예술성과 흥겨운 분위기는 그 어떤 무술도 흉내낼 수 없습니다.
                    li
                        i.fas.fa-fist-raised 
                        | 몸의 회전력을 이용하여 공중기나 발차기 등을 사용하며, 움직임이 워낙 예측불허이며, 주로 공격이 아래쪽에서 올라오기 때문에 막기도 무척 까다롭습니다.
                    li
                        i.fas.fa-fist-raised 
                        | 하지만 엄청난 체력을 소모하며 동작들이 너무 크고 느려 순수하게 격투기로 사용하긴 힘듭니다. 경기가 끝날 때까지 계속 그런 식으로 움직일 수 있다면 현존하는 가장 강력한 무술이 될 수 있긴 합니다.
                    li
                        i.fas.fa-fist-raised 
                        | 단숨에 무대 위로 올라가 끊임없이 몸을 흔드는 자유로운 영혼의 소유자인 당신에게 카포에라가 가장 잘 어울립니다.
                    li
                        i.fas.fa-fist-raised 
                        | 유명인: 철권 에디, 오버워치 루시우, 네권, 김무열, 진선규
            .result-bottom.partner-wrapper.wrapper
                a.best-partner(href='/result/aikido')
                    .result.char_result 
                    .result-text-black  최고의 파트너
                    .result-title-black 아이키도
                    br
                    img.result-partner-img(src='../static/images/aikido.jpg')
                a.worst-partner(href='/result/wrestling')
                    .result.char_result
                    .result-text-black  최악의 파트너
                    .result-title-black 레슬링
                    br
                    img.result-partner-img(src='../static/images/wrestling.jpg')
            include ./partials/share
            include ./partials/adsense
            include ./partials/footer-result