extends layouts/main.pug

block content
    body.container.fade-in
        main.loading-page.wrapper-loading
            .circ
                .hands
                .body
                .head1
                    .eye
            .loading-title 전투력 측정중..
        main.result-page
            .result-top.wrapper-top
                .result.char_result 
                    .result-text-white 나랑 가장 잘 맞는 격투기 종목은
                    .result-title.animate__animated.animate__pulse 태극권
                    img.result-img(src='../static/images/taichi.jpg')
                    .result-rank
                        | 전체 참여자 
                        .total-number.result-rank-ment #{totalNumber}
                        | 명 중
                        br
                        |나와 같은 격투가 유형은
                        br
                        label.percentage #{(sameNumber/totalNumber*100).toFixed(2)}%
                        | 입니다.
            .result-middle
                .result-subtitle
                    .icon-quote
                        i.fas.fa-quote-left.icon-left
                        i.fas.fa-quote-right.icon-right
                    | 수행은 마라톤과도 같습니다. 
                    .br
                    | 마라톤 또한 수행의 연장선이지요.
                    .icon-right
                        
                .result-explannation.result-text-left.wrapper-explanation
                    li
                        i.fas.fa-fist-raised 
                        | 세계에서 가장 많이 수련되고 있는 무술입니다.
                    li
                        i.fas.fa-fist-raised 
                        | 상대에게 밀착하여 공격하고 방어하는 상황이 많기 때문에 상대에게 접근하는 능력이 필수적입니다.
                    li
                        i.fas.fa-fist-raised 
                        | 상대와 나를 연결하여 상대를 느끼고 그 힘에 맞추어 내 자신을 변화시킴으로써 상대를 이기는것을 추구합니다.
                    li
                        i.fas.fa-fist-raised 
                        | 태극권 특징상 신비주의적인 이미지 때문에 사기꾼들이 굉장히 많으니 조심하세요.
                    li
                        i.fas.fa-fist-raised 
                        | 겉으론 부드러워 보이지만, 내면은 단단한 당신은 태극권이 가장 잘 어울립니다. 
                    li
                        i.fas.fa-fist-raised 
                        | 유명인: 무우양, 양노선, 이연걸
            .result-bottom.partner-wrapper.wrapper
                a.best-partner(href='/result/baguazhang')
                    .result.char_result 
                    .result-text-black  최고의 파트너
                    .result-title-black 팔괘장
                    br
                    img.result-partner-img(src='../static/images/baguazhang.jpg')
                a.worst-partner(href='/result/mma')
                    .result.char_result 
                    .result-text-black  최악의 파트너
                    .result-title-black 종합격투기
                    br
                    img.result-partner-img(src='../static/images/mma.jpg')
            include ./partials/share
            include ./partials/adsense
            include ./partials/footer-result