extends layouts/main.pug

block content
    body.container.fade-in
        main.result-page
            .result-top.wrapper-top
                .result.char_result 
                    .result-text-white 나랑 가장 잘 맞는 격투기 종목은
                    .result-title.animate__animated.animate__pulse 아이키도
                    img.result-img(src='../static/images/aikido.jpg')
                    .result-rank
                        | 전체 참여자 
                        .total-number.result-rank-ment #{totalNumber}
                        | 명 중
                        br
                        | 나와 같은 격투가 유형은
                        br
                        label.percentage #{(sameNumber/totalNumber*100).toFixed(2)}%
                        | 입니다.
            .result-middle
                .result-subtitle
                    .icon-quote
                        i.fas.fa-quote-left.icon-left
                        i.fas.fa-quote-right.icon-right
                    | 성인군자 등장이오.
                    br 
                    | 무술도 관대해질 수 있는 법.
                    .icon-right
                        
                .result-explannation.result-text-left.wrapper-explanation
                    li
                        i.fas.fa-fist-raised 
                        | 공격보다는 방어 위주의 무술입니다.
                    li
                        i.fas.fa-fist-raised 
                        | 무기를 휘두루는 상대에게 효과적으로 대처하는 호신술적인 측면이 강합니다.
                    li
                        i.fas.fa-fist-raised 
                        | 아이키도는 단순히 결투에서 이기는 것을 목표로 하지 않습니다. 
                    li
                        i.fas.fa-fist-raised 
                        | 상대방의 무게 중심을 손쉽게 무력화하는 방법을 극한으로 파고들어 그 원리를 전문적으로 탐구합니다.
                    li
                        i.fas.fa-fist-raised 
                        | 상대를 제압할 때 신체적 고통의 강도를 조절할 수 있으며, 상대를 다치지 않게 제압하는 관대한 무술입니다.
                    li
                        i.fas.fa-fist-raised 
                        | 이상적인 해결책을 결단력있게 실행하는 당신에게 인류에게 긍정적인 영향을 미치고자 하는 아이키도는 제격입니다.
                    li
                        i.fas.fa-fist-raised 
                        | 유명인: 우에시바 모리헤이, 시오다 고조, 도미키 켄지, 스티븐 시걸, 철권 카자마 준, 존 윅, 피터 롤스턴
            .result-bottom.partner-wrapper.wrapper
                a.best-partner(href='/result/capoeira')
                    .result.char_result 
                    .result-text-black  최고의 파트너
                    .result-title-black 카포에라
                    br
                    img.result-partner-img(src='../static/images/capoeira.jpg')
                a.worst-partner(href='/result/boxing')
                    .result.char_result 
                    .result-text-black  최악의 파트너
                    .result-title-black 복싱
                    br
                    img.result-partner-img(src='../static/images/boxing.jpg')
            include ./partials/share
            include ./partials/adsense
            include ./partials/footer-result