footer.footer-result__left
    span.footer__text ProjectKorea #{new Date().getFullYear()} &copy;
    br
    span.footer__text 제보&문의: prodopark15@gmail.com
    br
    br
script(src="/static/kakao.js")
script(src="/static/main.js")