footer.footer       
    span.footer__text ProjectKorea #{new Date().getFullYear()} &copy;
        script(async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6483924400678399' crossorigin='anonymous')
                ins.adsbygoogle(style='display:block' data-ad-client='ca-pub-6483924400678399' data-ad-slot='8830856646' data-ad-format='auto' data-full-width-responsive='true')
                script.
                    (adsbygoogle = window.adsbygoogle || []).push({});
script(src="/static/main.js")