footer.footer-result__left
    span.footer__text 모든 종목은 그 자체로 고유함이 있습니다. 재미로만 봐주세요. 문제가 될 소지가 있다면 이메일 제보 부탁드립니다. 
    br
    span.footer__text prodopark15@gmail.com
    br
    br
    span.footer__text ProjectKorea #{new Date().getFullYear()} &copy;
        script(async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6483924400678399' crossorigin='anonymous')
                // 수평
                ins.adsbygoogle(style='display:block' data-ad-client='ca-pub-6483924400678399' data-ad-slot='8830856646' data-ad-format='auto' data-full-width-responsive='true')
                script.
                    (adsbygoogle = window.adsbygoogle || []).push({});
    br
    br
script(src="/static/main.js")