.share.wrapper
    .result-bold-text 공유하기
    .btn-collection
        a.link-icon.twitter 트위터
        a.link-icon.facebook 페이스북
        a.link-icon.kakao 카카오
        a.link-icon.link 링크복사
    button.retest-btn 테스트 다시하기