.share.wrapper
    .result-share-text 내 결과 공유하기
    .btn-collection
        a#btnKakao2.link-icon.kakao.kakao1 카카오
    .result-share-text 친구의 격투기 종목은?
    .btn-collection
        a.link-icon.twitter 트위터
        a.link-icon.facebook 페이스북
        a#btnKakao1.link-icon.kakao.kakao2 카카오
        a.link-icon.link 링크복사
    button.retest-btn 테스트 다시하기