extends ../layouts/main.pug

block content
    body.container-ie.fade-in
        include ../partials/loading
        main.result-page
            .result-top.wrapper-top
                .result.char_result 
                    .result-text-white 나랑 가장 잘 맞는 격투기 종목은
                    .result-title.animate__animated.animate__pulse 합기도
                    .result-sub-title.animate__animated.animate__pulse ISFJ
                    img.result-img(src='/static/images/hapkido.jpg')
                    .result-subtitle
                        .icon-quote
                            i.fas.fa-quote-left.icon-left
                            i.fas.fa-quote-right.icon-right
                        | "나는 너만 지키면 돼"
                        br 
                        | 딜도 되고, 탱도 되는 서포터
                        .icon-right
            .result-middle
                .result-rank
                    | 전체 참여자 
                    .total-number.result-rank-ment #{totalNumber}
                    | 명 중
                    br
                    |나와 같은 격투가 유형은
                    br
                    label.percentage #{(sameNumber/totalNumber*100).toFixed(2)}%
                    | 입니다.
                .result-explannation.result-text-left.wrapper-explanation
                    li
                        i.fas.fa-fist-raised 
                        | 주로 상대의 공격에 대응하여 반격하는 종합 호신 무술입니다.
                    li
                        i.fas.fa-fist-raised 
                        | 사람들이 자주 가지고 다닐 법한 도구뿐만아니라, 부채, 몽둥이, 지팡이, 단봉, 밧줄, 사슬, 채찍, 표창의 무기술도 수련하고 있습니다.
                    .folder
                        button.folder-button
                            i.fas.fa-arrow-down
                            | 설명 더 보기
                    .folder-content
                        li
                            i.fas.fa-fist-raised 
                            | 힘의 순환, 에너지 조정 방법을 심도있게 다룹니다.
                        li
                            i.fas.fa-fist-raised 
                            | 합기도 자체의 무술은 그다지 실전적이진 않습니다. 
                        li
                            i.fas.fa-fist-raised 
                            | 하지만 쌍절곤, 봉술과 같은 다채로운 무기술을 사용하며 호신 무술로써 위상을 드높이고 있습니다.
                        li
                            i.fas.fa-fist-raised 
                            | 소중한 사람들을 끝까지 지키는 수호자와 같은 당신에게 합기도가 가장 잘 어울립니다.
                        li
                            i.fas.fa-fist-raised 
                            | 유명인: 김윤상, 최용술, 김남재
                    .folder-footer
                        button.folder-button-down
                            i.fas.fa-arrow-up
                            | 접기
            .result-bottom.partner-wrapper.wrapper
                a.best-partner(href='/mbti/result/ESFP')
                    .result-text-black-best  최고의 파트너
                    .result-char-wrapper
                        .result-title-black 우슈
                        br
                        img.result-partner-img(src='/static/images/wushu.jpg')
                a.worst-partner(href='/mbti/result/INTP')
                    .result-text-black-worst  최악의 파트너
                    .result-char-wrapper
                        .result-title-black 펜싱
                        br
                        img.result-partner-img(src='/static/images/fencing.jpg')
            include ../partials/share
            include ../partials/footer-result