@media (max-width: 426px) {
  html,
  body {
    height: 100%;
    width: 100%;
  }
  html {
    overflow-y: scroll;
  }
  body {
    overflow-y: auto;
  }
}

@media (min-width: 427px) {
  body {
    width: 426px !important;
    height: 625px;
  }
  html {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

body {
  margin: 0;
  font-size: 14px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page {
  width: 90%;
  height: 100%;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.title {
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 35px;
}

.wrapper {
  text-align: center;
  padding: 20px 0px;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.bold {
  border: 1px solid #be9bc0 !important;
}

.removeAlign {
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
}

.half_HL {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(50%, #e3d7e8),
    color-stop(50%, transparent)
  );
  background: linear-gradient(to top, #e3d7e8 50%, transparent 50%);
}

.half_HL_Y {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(50%, #ffe400),
    color-stop(50%, transparent)
  );
  background: linear-gradient(to top, #ffe400 50%, transparent 50%);
}

.start_page .start_title {
  font-size: 30px;
  margin-bottom: 30px;
  line-height: 50px;
  font-weight: 100;
}

.start_page #endLetter {
  position: relative;
}

.start_page .qm {
  display: inline-block;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
}

.start_page .qm1 {
  top: 0px;
  left: 10px;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

.start_page .qm2 {
  left: 20px;
  top: -15px;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.start_page #btn_start {
  font-size: 20px;
}

.start_page #start_img {
  width: 120%;
  max-width: 250px;
  margin: 0px;
}

.question_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.question_page .question_title {
  padding: 0px 30px;
  line-height: 30px;
  margin-bottom: 60px;
}

.question_page .progress_question #run {
  width: 30px;
  height: 40px;
  position: absolute;
  top: 60px;
}

.question_page .progress_question #heart_wrapper {
  position: absolute;
  top: 70px;
  right: 7%;
}

.question_page .progress_question #heart_wrapper #heart {
  position: relative;
  width: 25px;
  height: 25px;
}

.question_page .progress_question #heart_wrapper #heart:before,
.question_page .progress_question #heart_wrapper #heart:after {
  position: absolute;
  content: "";
  left: 12px;
  top: 0;
  width: 12px;
  height: 20px;
  background: #b799b9;
  border-radius: 20px 20px 0 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.question_page .progress_question #heart_wrapper #heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.question_page .progress_question #ground {
  position: absolute;
  width: 87%;
  height: 1.5px;
  background: black;
  top: 100px;
  left: 6%;
  opacity: 0.6;
}

.question_page .question_btn_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.question_page .question_btn_wrapper button {
  margin-bottom: 15px;
  border: 1px solid gray;
  width: 85%;
  padding: 25px;
  outline: none;
  font-size: 15px;
  border-radius: 15px;
  background: transparent;
  color: black;
}

.question_page #p_num {
  color: darkgray;
  position: absolute;
  top: 110px;
  right: 35px;
}

.loading_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.result_page {
  display: block;
  margin: 0 auto;
  overflow: visible;
}

.result_page .result {
  margin-bottom: 10px;
  padding: 20px;
}

.result_page .sub_title {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 30px;
}

.result_page .char_result {
  text-align: center;
  display: block;
}

.result_page .char_result #type_is {
  display: block;
  margin-top: 10px;
  color: gray;
  font-size: 13px;
}

.result_page .char_result .char_name {
  display: block;
  font-weight: bold;
  margin: 0px !important;
  line-height: 1.1;
  font-size: 24px;
}

.result_page .char_result .char_pic {
  width: 200px;
  height: 200px;
  margin: 20px 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

.result_page .char_result #rank_ment1 {
  font-size: 15px;
}

.result_page .char_result #rank_ment1 #percentage {
  color: #9f7dca;
  font-size: 20px;
}

.result_page .ability_result #after {
  color: #9f7dca;
}

.result_page .ability_result .explanation {
  margin-top: 10px;
  text-align: left;
}

.result_page .ability_result .explanation li {
  margin-bottom: 10px;
}

.result_page .ability_result #after_explain {
  font-size: 17px;
}

.result_page .ability_result .progress_title {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
}

.result_page .tip_result .ability_tip {
  text-align: left;
}

.result_page .rank_result .rank_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.result_page .rank_result .rank_wrapper #before_me,
.result_page .rank_result .rank_wrapper #after_me {
  font-size: 16px;
  text-align: center;
  margin: 10px;
}

.result_page .share_result .result_btn_wrapper button {
  background: transparent;
  border: 2px solid gray;
  border-radius: 15px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  width: 80%;
  height: 45px;
  line-height: 18px;
  margin: 5px 0;
}

.result_page .share_result .share_wrapper {
  border: 1px solid gray;
  border-radius: 15px;
  margin-bottom: 30px;
}

@charset "UTF-8";
@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansKR-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-SemiBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansKR-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LAB디지털";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GyeonggiBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MaruBuri-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-4Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-5Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JSDongkang-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HangeulNuri-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunpen";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Goyang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

button {
  font-family: "S-CoreDream-3Light";
}

.container {
  font-family: "IBMPlexSansKR-Regular";
}

.bold {
  font-family: "S-CoreDream-4Regular";
}

.start_title {
  font-family: "NanumSquareRound";
}

#btn_start {
  font-family: "S-CoreDream-4Regular";
}

.question_title {
  font-family: "NanumBarunpen";
}

.result_title {
  font-family: "IBMPlexSansKR-SemiBold";
}

.rank label {
  font-family: "LAB디지털";
}

#par {
  font-family: "IBMPlexSansKR-Bold";
}

#perc {
  font-family: "IBMPlexSansKR-Bold";
}

#wait_num {
  font-family: "HangeulNuri-Bold";
}

#now {
  font-family: "HangeulNuri-Bold";
}

#after {
  font-family: "IBMPlexSansKR-SemiBold";
}

#after_explain {
  font-family: "IBMPlexSansKR-Bold";
}

#num_is {
  font-family: "IBMPlexSansKR-SemiBold";
}

#rank_ment1 {
  font-family: "IBMPlexSansKR-SemiBold";
}

.fade-in--quick {
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
}

.fade-in {
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.donutSpinner {
  display: inline-block;
  border: 4px solid #e3d7e8;
  border-left-color: #9f7dca;
  border-radius: 50%;
  margin-top: 30px;
  width: 30px;
  height: 30px;
  -webkit-animation: donut-spin 1.2s linear infinite;
  animation: donut-spin 1.2s linear infinite;
}

@-webkit-keyframes donut-spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes donut-spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.magnifyBorder {
  padding: 18px 36px;
  border-radius: 61px;
  -webkit-box-shadow: inset 0 0 0 2px #be9bc0;
  box-shadow: inset 0 0 0 2px #be9bc0;
  /*hsl(243, 80%, 62%);*/
  -webkit-transition: 300ms background-color cubic-bezier(0.4, 0, 0.6, 1),
    300ms color cubic-bezier(0.4, 0, 0.6, 1),
    300ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.6, 1);
  transition: 300ms background-color cubic-bezier(0.4, 0, 0.6, 1),
    300ms color cubic-bezier(0.4, 0, 0.6, 1),
    300ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.6, 1);
  transition: 300ms box-shadow cubic-bezier(0.4, 0, 0.6, 1),
    300ms background-color cubic-bezier(0.4, 0, 0.6, 1),
    300ms color cubic-bezier(0.4, 0, 0.6, 1);
  transition: 300ms box-shadow cubic-bezier(0.4, 0, 0.6, 1),
    300ms background-color cubic-bezier(0.4, 0, 0.6, 1),
    300ms color cubic-bezier(0.4, 0, 0.6, 1),
    300ms -webkit-box-shadow cubic-bezier(0.4, 0, 0.6, 1);
}

#btn_start {
  position: relative;
  display: block;
  left: 30%;
  top: -15px;
  width: 130px;
  height: 52px;
  text-align: center;
  line-height: 40px;
  border: 2px solid #000;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#btn_start:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}

#btn_start:active {
  top: -10px;
  left: 37%;
}

#btn_start:active:after {
  border: none;
}
/*# sourceMappingURL=animation.css.map */

.progress{
  height: 30px;
  background: #fff;
  border-top: 5px solid #1c2647;
  border-bottom: 5px solid #1c2647;
  border-radius: 0;
  margin-bottom: 25px;
  overflow: visible;
  position: relative;
}
.progress:before,
.progress:after{
  content: "";
  width: 5px;
  background: #1c2647;
  position: absolute;
  top: 0;
  left: -5px;
  bottom: 0;
}
.progress:after{
  left: auto;
  right: -5px;
}
.progress .progress-bar{
  border: none;
  box-shadow: none;
  -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
  animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
}
@-webkit-keyframes animate-positive{
  0%{ width: 0; }
}
@keyframes animate-positive{
  0%{ width: 0; }
}
.link-icon {
  position: relative;
  display: inline-block;
  width: 50px;
  align-content: center;
  margin-right: 10px;
  padding-top: 50px;
}
.link-icon.twitter {
  background-image: url(icon-twitter.png);
  background-repeat: no-repeat;
}
.link-icon.facebook {
  background-image: url(icon-facebook.png);
  background-repeat: no-repeat;
}
.link-icon.kakao {
  background-image: url(icon-kakao.png);
  background-repeat: no-repeat;
}
.link-icon.link {
  background-image: url(icon-link.png);
  background-repeat: no-repeat;
}


/*# sourceMappingURL=styles.css.map*/