doctype html
html
    head
        title 격투기 종목 테스트
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(property="og:url", content="https://martialartstest.com")
        meta(property="og:title", content="격투기 종목 테스트")
        meta(property="og:description", content="복싱, 주짓수, 태극권, 카포에라.. 나와 가장 잘 맞는 격투기 종목은?")
        meta(property="og:image", content="../static/images/preview.png")
        meta(name="twitter:url", content="https://martialartstest.com")
        meta(name="twitter:title", content="격투기 종목 테스트")
        meta(name="twitter:description", content="복싱, 주짓수, 태극권, 카포에라.. 나와 가장 잘 맞는 격투기 종목은?")
        meta(name="twitter:image", content="../static/images/preview.png") 
        link(rel="stylesheet", href="/static/styles.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==", crossorigin="anonymous")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        link(rel=" shortcut icon", href="../static/images/favicon.ico")
        link(rel=" icon", href="../static/images/favicon.ico")
        script(src="https://developers.kakao.com/sdk/js/kakao.js")
        script(data-ad-client='ca-pub-6483924400678399' async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
        body
            block content






